
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.hidden {
    display: none;
}

/********************************* FOOTER *********************************/

.footer-details {
    font-weight: 600;    
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
}

.footer-details .info{
    background-color: #008000;
    color: #ffffff;
}

.footer-details p{
    margin: auto;
    text-align: center;
    text-decoration: none;
}

.footer-details .info p{
    text-shadow:  1px 1px #ffa500;
}

.footer-details p a{
    text-decoration: none;
}

.footer-details .small-logo{ 
    background-color: #ffffff;
    color: #008000;
    font-size: 1.5rem;
    text-shadow:  2px 2px #ffa500;
}

.footer-details .small-logo i{
    font-size: 3rem;
}

.footer-details .social{
    background-color: #ffa500;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 3rem;
    justify-content: center;
    text-align: center;
}

.footer-details a:link,
.footer-details a:visited,
.footer-details a:active{
    color: #ffffff;
}

.footer-details a:hover {
    color: #008000;
}
.footer-details p a:hover {
    background: #ffa500;
    color: #ffffff;
    font-weight: bolder;
}

@media screen and (min-width: 768px) and (max-width: 900px){
    .footer-details .social{
        font-size: 2.5rem;    
    }
}

/********************************* NAVBAR *********************************/
.navbar{
    background: #008000 ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
    border-radius: 50%;
}

.navbar-brand {
    font-size: 2.5rem;
    margin: 0 3rem auto;
    transition: transform .2s; /* Animation */
    color: #ffffff;
    text-shadow:  2px 2px #ffa500;
}

.nav-item{
    font-size: 1.2rem;
}

.nav-link{
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 477px) {
    .navbar-brand {
        margin-left: 0;
        font-size: 1.6rem;
        }
    .logo {
        width: 3rem;
        height: 3rem;
    }
}

@media screen and (min-width: 768px) {
.navbar-expand-lg .navbar-nav {
    display: flex;
    }
}

@media screen and (max-width: 768px) {
.navbar-nav {
    display: block;
    }
}

.navbar-brand:hover{
    color: #ffa500;
    text-shadow: 2px 2px #ffffff;
    transform: scale(1.5);
}


.nav-link:hover {
    background: #ffa500;
    color: #ffffff;
    font-weight: bolder;
}
    

/********************************* QUESTIONS SECTION 1*********************************/
.carousel{
    margin: auto;
    max-width: 100%;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    width: 50rem;
}

.answer {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
}

.answer:hover {
    background: #ffa500;
    color: #008000;
    font-weight: bolder;    
}

.question {
    height: 100%;
    width: 100%;
    text-shadow: 1px 1px #ffa500;
}

.question h3{
    font-size: 2rem;
    text-shadow: 1px 1px 2px #ffa500;
}

.question hr{
    color: green;
    padding: 0;
}

.nextQuestionButton{
    background-color: inherit;
    border-color: #008000;
    border-style: dashed;
    color: #008000;
    margin-left: 1rem;
    text-align: center;

}
.nextQuestionButton:hover{
    background: cornsilk;
}

.question-image-wrapper {
    height: 150px;
    width: 150px;
}

.question-image-wrapper img {
    display: none;
}

#round-1 {
    background-color: #D6FFD6;
}

#round-2 {
    background-color: #F5F5F5;
}

#round-3 {
    background-color: #FFF1D6;
}

#round-4 {
    background-color: #D6FFD6;
}

.divider {
    margin: 0;
    width: 50%;
}


/********************************* CAROUSEL *********************************/

.carousel-control-prev-icon, .carousel-control-next-icon {
    outline: black;
    background-color: green;
    border-radius: 50%;
    border: 1px solid black;
}

/********************************* MODALS *********************************/

.modal-body {
    font-size: 1.5rem;
}

.modal-footer i {
    line-height: inherit;
    margin-right: 5px;
}

.modal-footer a:last-child{
    background-color: #ffa500;
    border-color: #ffa500;
}

/********************************* CENTERING THE nextQuestionButton *********************************/



#questionsCarousel-a > div {
    padding: 40px;
}

#questionsCarousel-b > div {
    padding: 40px;
}

#questionsCarousel-c > div {
    padding: 40px;
}

#questionsCarousel-d > div {
    padding: 40px;
}



